<div>
  <!-- Display error message -->
  <!-- <div *ngIf="errorMessage" style="color: red;">
    <p>{{ errorMessage }}</p>
  </div> -->

  <!-- Reactive form -->
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2 class="text-center">Login below to get started</h2>
    <!-- Email input -->
    <input
      type="email"
      formControlName="email"
      placeholder="Email"
      [class.is-invalid]="email?.invalid && email?.touched"
    />
    <div *ngIf="email?.invalid && email?.touched" style="color: red;">
      <p *ngIf="email?.errors?.['required']">Email is required.</p>
      <p *ngIf="email?.errors?.['email']">Enter a valid email address.</p>
    </div>

    <!-- Password input -->
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      [class.is-invalid]="password?.invalid && password?.touched"
    />
    <div *ngIf="password?.invalid && password?.touched" style="color: red;">
      <p *ngIf="password?.errors?.['required']">Password is required.</p>
      <p *ngIf="password?.errors?.['minlength']">
        Password must be at least 6 characters.
      </p>
    </div>

    <!-- Submit button -->
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    
    <div class="signup-button">
      <br>
      <h4>Don't have an account?</h4>
        <button (click)="goToSignup()">Sign Up</button>
    </div>
  </form>
</div>

